
html {
    background-color: rgb(11, 14, 17);
    height: 100%;
}

body {
    background-color: rgb(11, 14, 17);
    background-size: cover;
    height: 100%;
}

.Containersb {
    background-color: rgb(11, 14, 17);
    min-height: 100vh;
    height: 100%;
    width:100%;
    background-size: "cover";
    position: relative;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6{
    line-height: 30px; 
    margin-top: -10px;
    margin-bottom: 0px;
}

.ItemLeft {
    width: 25%;
}

.Item {
    width: 40%;
    margin: auto;  
    align-content: center;
    justify-content: center;
    position: relative;
}

.ItemRight {
    width: 25%;
    margin-top:auto;
    margin-bottom:auto;
    align-content: flex-start;
    justify-content: flex-start;
    position: relative;
}